<!DOCTYPE html>
<html>
<head>
  <style>
    .test-div {
      width: 200px;
      height: 200px;
      background: rgba(202, 110, 86, 1);
      margin: 20px;
      text-align: center;
      line-height: 200px;
      color: white;
    }
    
    .test-div2 {
      width: 200px;
      height: 200px;
      background: #ca6e56;
      margin: 20px;
      text-align: center;
      line-height: 200px;
      color: white;
    }
  </style>
</head>
<body>
  <div class="test-div">
    rgba(202, 110, 86, 1)
  </div>
  <div class="test-div2">
    #ca6e56
  </div>
</body>
</html> 